.container .content {
    position: relative;
    margin-top: -10px;
    min-height: 90vh;
}

.container .content .cards {
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.container .content .cards .card {
    width: 300px;
    height: 200px;
    background-color: white;
    padding: 5px;
    padding-bottom: 10px;
    margin: 95px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 5px solid #0e6a93;
    border-radius: 10px;
    color: #0e6a93;
    z-index: 50;
}

.container .content .cards .card .box h1 {
    padding-left: 40px;
}

.container .content .cards .card .icon-case img {
    mix-blend-mode: multiply;
}

.btn {
    width: 150px;
    background-color: #0e6a93;

}