* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif
}

.header {
    width: 100%;
    height: 50px;
    box-shadow: 0 3px 6px 0 #0e6a93, 0 3px 10px 0 #0e6a93;
}

.header .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav h3 {
    color: #0e6a93;
    margin-top: 8px;
    font-weight: 600;
}

.form {
    margin: 100px auto;
    width: 550px;
    height: 350px;
    padding: 50px;
    padding-top: 25px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-left: 7px solid #0e6a93;
    border-radius: 10px;
}

.form-group {
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
}

.fa-solid {
    position: absolute;
    top: 56px;
    left: 15px;
    color: #0e6a93;
}

label {
    margin-bottom: 10px;
    color: #0e6a93;
}

.form-control {
    height: 45px;
    color: #0e6a93;
    border-left: 3px solid #0e6a93;
}

.form-control {
    padding-left: 40px;
}

.btn {
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color: #0e6a93;
}

.back {
    width: 80px;
}