.container .form-change{
    margin-top: 130px;
    margin-left: 270px;
    width: 500px;
    height: 460px;
    padding: 30px;
    border-left: 10px solid #0e6a93;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form-change .form-group{
    margin: 15px;
}
label{
    color: #0e6a93;
    margin: 5px;
}
.form-control{
    border-left: 3px solid #0e6a93;
    border-radius: none;
    margin: 5px;
}
.btn{
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background-color: #0e6a93;

}
