.container .form{
    margin-top:95px;
    margin-left: 30px;
    width: 1000px;
    height: 460px;
    padding: 30px;
    overflow: scroll;
    border-left: 5px solid #0e6a93;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .form .roww{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.form-group{
    margin-bottom: 12px;
}
.form-control,.form-select {
    width: 400px;
    height: 43px;
    margin: 5px;
    border-left:3px solid #0e6a93;
    border-radius: none;
}
.sa{
    margin-right: 326px;
}
label{
    color: #0e6a93;
    margin: 5px;
    font-size: 15px;
}
.btn{
        font-size: 20px;
        width: 100%;
        background-color: #0e6a93;
}
.fa-solid{
    color: #0e6a93;
}
.bssa{
    margin-top: 43px;
    width: 290px;
}
