.container .form {
    margin-top: 100px;
    margin-left: 30px;
    width: 1000px;
    height: 550px;
    padding: 30px;
    border-left: 5px solid #0e6a93;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-group {
    margin-bottom: 12px;
}
.form-control,
.form-select {
    width: 100%;
    margin: 5px;
    border-left: 3px solid #0e6a93;
    border-radius: none;
}
label {
    color: #0e6a93;
    margin: 5px;
    font-size: 15px;
}
.btn-primary {
    background-color: #0e6a93;
}
